<div class="DropdownImage" [ngClass]="[(showItems$ | async) ? 'is-open' : 'is-closed', supreItems.length > 1 ? 'is-multi' : 'is-single']">
  <div class="DropdownImage-titleBar">
    <div class="DropdownImage-title">
      {{ (selected$ | async).name }}
    </div>
    <div class="DropdownImage-arrow" (mouseup)="showItemsSource.next('toggle')">
      <div class="icon ion-chevron-down"></div>
    </div>
  </div>
  <div class="DropdownImage-imageContainer">
    <img class="DropdownImage-image" src="{{ (selected$ | async).image }}">
  </div>
  <div class="DropdownImage-items">
    <div class="DropdownImage-item" *ngFor="let item of supreItems"
        [ngClass]="[(activeItem$ | async).name === item.name ? 'is-active' : '', ((selected$ | async).name === item.name) ? 'is-selected' : '']"
        (mouseenter)="activeItemSource.next(item)"
        (mouseleave)="activeItemSource.next(noItem)"
        (mouseup)="selectedSource.next(item); showItemsSource.next('toggle')"
    >
      <div class="DropdownImage-itemStatus">
        <span class="DropdownImage-itemStatusIcon icon ion-ios-checkmark-outline"></span>
        <span class="DropdownImage-itemName">
          {{ item.name }}
        </span>
      </div>
    </div>
  </div>
</div>
