<div style="padding-left:100px; padding-bottom: 200px; width: 300px;">
  <supre-dropdown-image supreDefault="Ford Motor Company" (itemSelected)="itemChanged($event)"
    [supreItems]="[
      { name: 'Applebees', image: '//upload.wikimedia.org/wikipedia/en/b/bc/Applebee%27s.svg' },
      { name: 'Barclays Bank', image: '//upload.wikimedia.org/wikipedia/en/7/7e/Barclays_logo.svg' },
      { name: 'Ford Motor Company', image: '//upload.wikimedia.org/wikipedia/commons/a/a0/Ford_Motor_Company_Logo.svg' },
      { name: 'Toyota Inc', image: '//upload.wikimedia.org/wikipedia/commons/9/9d/Toyota_carlogo.svg' }
    ]"
  ></supre-dropdown-image>
</div>
